<div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
  <div class="flex flex-col content-center text-center items-center">
    <img src="/images/kpi_logo.webp" class="w-1/6">
    <p class="mt-1 text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl">KPI Visuales</p>
  </div>
</div>
